<div class="container mt-4">
    <div class="row">
      <!-- Total Orders Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Products</h5>
            <p class="card-text">{{allproducts.length}}</p>
          </div>
        </div>
      </div>
  
      <!-- Total Delivered Orders Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Categories</h5>
            <p class="card-text">{{allCategories.length}}</p>
          </div>
        </div>
      </div>
  
      <!-- Total Pending Orders Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Beands</h5>
            <p class="card-text">{{allBrands.length}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  